config.h.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
*.lo
*.la
*.o
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
